@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    padding: 2rem;
    background-color: #2b2b2c;
    /* Light gray background */
}

/* Container styling */
.container {
    max-width: 1200px;
    padding: 4rem;
    border-radius: 54px;
    background: #e0e0e0;
    margin: 0 auto;
    position: relative;

}

/* Car Catalog title styling */
.container h1 {
    margin: 0 auto;
    display: inline-block;
    border: .05;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 7px;

}

/* Car make select styling */
#makeSelect {
    border-radius: 7px;
    background: linear-gradient(145deg, #fffbfb, #ffffff);
}

/* Car list styling */
.car-list {
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove default padding */
}

.car-item {
    background-color: #ffffff;
    /* White background */
    border-radius: 5px;
    /* Rounded corners */
    border: 1px solid #e5e7eb;
    /* Light gray border */
    padding: 20px;
    /* Add padding */
    margin-bottom: 20px;
    /* Add spacing between items */
}

.car-item:hover {
    background-color: #edf2f7;
    /* Light blue background on hover */
}

/* Button styling */
.button {
    border-radius: 17px;
    background: linear-gradient(315deg, #4c4c4c, #404040);
    box-shadow: -20px -20px 40px #414141,
        20px 20px 40px #4d4d4d;
}

.button:hover {
    background-color: #292f35;
    /* Dark blue background on hover */
}

img {
    float: left;
    margin-right: 20px;
}

.text-container {
    margin-left: 20px;
}

