@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  label,
  .select {
    display: block;
    margin-bottom: 10px;
  }
  
  .select {
    display: none; /* Hide the select by default */
  }
  
  .select:hover {
    display: block; /* Display the select when hovered over */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  